<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<div class="card my-3">
  <div class="card-body">
    <h3 class="card-title{% if item.completed %} text-decoration-line-through{% endif %}">{{ item.name }}</h3>
    <p class="card-subtitle mb-2 text-muted">{{ item.assigned }}</p>
    <p class="card-text">{{ item.description }}</p>
  </div>
  <div class="card-footer">
    <form class="form-inline flex-row-reverse" action="{% url 'listidge:todoitem_update' list.uuid item.id %}" method="post">
      {% csrf_token %}
      <div class="row">
        <!-- To get right align we have to use cols as we are inside a container
             https://stackoverflow.com/a/52042069/28170 -->
        <div class="col-auto my-1">
          <select class="form-select" id="state" name="state" aria-label="Select state">
            <option {% if item.state == "To Do" %}selected{% endif %}>To Do</option>
            <option {% if item.state == "Doing" %}selected{% endif %}>Doing</option>
            <option {% if item.state == "Done" %}selected{% endif %}>Done</option>
          </select>
        </div>
        <div class="col form-check my-auto mx-3">
          <label for="completed" class="form-check-label">Complete</label>
          <input type="checkbox" class="form-check-input" {% if item.completed %}checked{% endif %} name="completed" id="completed">
        </div>
        <div class="col"></div>
        <div class="col my-1">
          <button type="submit" class="btn btn-secondary">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
