<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% extends "listidge/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ list.name }}{% endblock %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{% url 'listidge:redirect' %}">
    <img class="mx-auto d-block img-fluid" src="{% static 'listidge/logo.png' %}" alt="Listidge" width="300" height="119">
  </a>
</nav>

<div class="row py-lg-5 mx-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">{{ list.name }}</h1>
    <p class="lead text-muted">{{ list.description }}</p>
  </div>
</div>
<div class="bg-light">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if items %}
          {% for item in items %}
            <div class="col">
              <div class="card shadow-sm">
                {% if item.image %}
                  <img src="{{ item.image.url }}" class="img-fluid rounded">
                {% endif %}
                <div class="card-body">
                  {% if item.link %}
                    <h3 class="card-title"><a href="{{ item.link }}">{{ item.title }}</a></h3>
                  {% else %}
                    <h3 class="card-title">{{ item.title }}</h3>
                  {% endif %}
                  <p class="card-text">{{ item.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-danger" role="alert">
            This list is empty.
          </div>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
