<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% extends "listidge/base.html" %}

{% load django_bootstrap5 %}

{% block title %}Lists{% endblock %}
{% block content %}

{% include "listidge/nav.html" %}

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Link</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if lists %}
            {% for lst in lists %}
              <tr>
                <td><a href="{{ lst.id }}/">{{ lst.name }}</a></td>
                <td>{{ lst.description }}</td>
                <td>{{ lst.listype }}</td>
                <td>
                  {% if lst.uuid %}
                    <a href="{% url 'listidge:list_public' lst.uuid %}">Published</a>
                  {% else %}
                    <form action="share/{{ lst.id }}" method="post">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-secondary" value="Publish">
                    </form>
                  {% endif %}
                </td>
                <td>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" data-bs-list-name="{{ lst.name }}"
                    data-bs-list-id="{{ lst.id }}">
                    Delete
                  </button>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              You have no lists, use the form below to create one.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
          <tr>
            <form action="{% url 'listidge:lists' %}" method="post">
              {% csrf_token %}
              <td>
                <input type="text" name="name" id="name" placeholder="Name">
              </td>
              <td>
                <input type="text" name="description" id="description" placeholder="Description">
              </td>
              <td>
                <!--
                  Force select to be wide enough for its content
                  https://stackoverflow.com/a/28835382/28170
                -->
                <select class="form-select" id="listype" name="listype" style="width:auto;" aria-label="Select list type">
                  <option selected>Wishlist</option>
                  <option>To-do list</option>
                  <option>Collection</option>
                </select>
              </td>
              <td></td>
              <td>
                <input type="submit" class="btn btn-success" value="Create">
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete list</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form id="modalConfirm" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget
      const listName = button.getAttribute('data-bs-list-name')
      const listId = button.getAttribute('data-bs-list-id')
      const modalTitle = exampleModal.querySelector('.modal-title')
      const modalConfirm = exampleModal.querySelector('#modalConfirm')
      modalTitle.textContent = `Delete list "${listName}"?`
      modalConfirm.action = `${listId}/delete`
  })
  </script>
</div>
{% endblock %}
