<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% extends "listidge/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ list.name }}{% endblock %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{% url 'listidge:redirect' %}">
    <img class="mx-auto d-block img-fluid" src="{% static 'listidge/logo.png' %}" alt="Listidge" width="300" height="119">
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <h1>{{ list.name }}</h1>

      <p>{{ list.description }}</p>

      {% if items %}
        {% for item in items %}
          <div class="card my-3">
            {% if item.image %}
              <img src="{{ item.image.url }}" class="img-fluid rounded">
            {% endif %}
            <div class="card-body">
              {% if item.link %}
                <h2 class="card-title"><a href="{{ item.link }}">{{ item.name }}</a></h2>
              {% else %}
                <h2 class="card-title">{{ item.name }}</h2>
              {% endif %}
              <p class="card-subtitle mb-2 text-muted">{{ item.description }}</p>
              <p class="card-text">{{ item.amount }} wanted.</p>
            </div>
            <div class="card-footer">
              <form class="form-inline flex-row-reverse" action="{% url 'listidge:item_reserve' list.uuid item.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <!-- To get right align we have to use cols as we are inside a container
                       https://stackoverflow.com/a/52042069/28170 -->
                  <div class="col"></div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-danger">Reserve 1</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="alert alert-danger" role="alert">
          This list is empty.
        </div>
      {% endif %}
    </div>

    <div class="col-md-3"></div>

  </div>
</div>

{% endblock %}
