<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% extends "listidge/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ list.name }}{% endblock %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{% url 'listidge:redirect' %}">
    <img class="mx-auto d-block img-fluid" src="{% static 'listidge/logo.png' %}" alt="Listidge" width="300" height="119">
  </a>
</nav>

<div class="container">
  <div class="row">
      <h1>{{ list.name }}</h1>
      <p>{{ list.description }}</p>
  </div>
  <div class="row">
    <div class="col">
      <h2>To Do</h2>
      {% for item in todoitems %}
        {% include "listidge/list_public_todo_card.html" %}
      {% endfor %}
    </div>
    <div class="col">
      <h2>Doing</h2>
      {% for item in doingitems %}
        {% include "listidge/list_public_todo_card.html" %}
      {% endfor %}
    </div>
    <div class="col">
      <h2>Done</h2>
      {% for item in doneitems %}
        {% include "listidge/list_public_todo_card.html" %}
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}
