<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% extends "listidge/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ list.name }}{% endblock %}
{% block content %}

{% include "listidge/nav.html" %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About your list</h5>
          <p class="card-text">Description: {{ list.description }}</p>
          {% if list.uuid %}
            <p class="card-text"><a href="{% url 'listidge:list_public' list.uuid %}">Published</a></p>
          {% else %}
            <p class="card-text">It's not published.</p>
            <form action="share" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary my-3">Publish</button>
            </form>
          {% endif %}
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" 
            data-bs-target="#exampleModal" data-bs-list-name="{{ list.name }}"
            data-bs-list-id="{{ list.id }}">
            Delete
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      {% if not items %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          You have no items in your list, use the form below to add one.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if errors %}
        <div class="alert alert-danger" role="alert">
          <ul>
          {% for key, error in errors.items %}
            <li>Field {{ key }} - {{ error }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
            <th scope="col">Amount</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.link }}</td>
              <td>{{ item.amount }}</td>
              <td>
                {% if item.image %}
                  <img src="{{ item.image.url }}" class="img-fluid rounded">
                {% endif %}
              </td>
              <td>
                <form action="{{ item.id }}/delete" method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <form action="{% url 'listidge:list' list.id %}" enctype="multipart/form-data" method="post">
              {% csrf_token %}
              <fieldset>
                <td>
                  <input type="text" name="name" id="name" placeholder="Name">
                </td>
                <td>
                  <input type="text" name="description" id="description" placeholder="Description">
                </td>
                <td>
                  <input type="text" name="link" id="link" placeholder="Link">
                </td>
                <td>
                  <input type="number" name="amount" id="amount" min="1" max="100" value="1">
                </td>
                <td>
                  <!--
                    Force input to be wide enough for its content
                    https://stackoverflow.com/a/28835382/28170
                  -->
                  <input class="form-control" type="file" name="image" id="image" style="width:auto;">
                </td>
              </fieldset>
              <td>
                <input type="submit" class="btn btn-success" value="Create">
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete list</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form id="modalConfirm" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const listName = button.getAttribute('data-bs-list-name')
    const listId = button.getAttribute('data-bs-list-id')
    const modalTitle = exampleModal.querySelector('.modal-title')
    const modalConfirm = exampleModal.querySelector('#modalConfirm')
    modalTitle.textContent = `Delete list "${listName}"?`
    modalConfirm.action = `delete`
})
</script>

{% endblock %}
