<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Self-hosted lists of any kind: wishlists, task lists, collections and more.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/listidge/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand flex-grow-1" href="{% url 'listidge:redirect' %}">
    <img class="d-block img-fluid" src="{% static 'listidge/logo.png' %}" alt="Listidge" width="300" height="119">
  </a>
  <p class="my-auto mx-3">Find us on <a href="https://gitlab.com/thegalagic/listidge">GitLab</a></p>
  <a href="{% url 'listidge:logout_user' %}" class="btn btn-outline-secondary btn-lg m-3" role="button">Logout {{ user.username }}</a>
</nav>
<nav class="bg-light" aria-label="breadcrumb">
  <ol class="breadcrumb mx-3 p-3">
    {% if lists %}
      <li class="breadcrumb-item active" aria-current="page"><h5>Lists</h5></li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'listidge:lists' %}"><h5>Lists</h5></a></li>
    <li class="breadcrumb-item active" aria-current="page"><h5>{{ list.name }}</h5></li>
    {% endif %}
  </ol>
</nav>
